:root {
    --color-bg: #000000;
    --color-sbg: #090909;
    --color-st: #a0a0a0;
    --color-t: #c0c0c0;
}

body {
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.3;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color-bg);
    color: var(--color-t);
    font-size: clamp(12px, 2vw, 20px);
}

.content-container {
    background-color: var(--color-sbg);
    padding: 40px;
    text-align: left;
    box-sizing: border-box;
    max-width: 1024px; 
    width: 100%;
    min-height: 100vh;
    margin: 40px;
}

.title-text {
    text-align: left;
}

.hidden-text {
    color: #010101
}

.avatar-img {
    max-width: 64px;
    height: 64px;
}

a {
  text-decoration: none;
  color: #11aaaa; 
}

h4 {
    margin-bottom: 5px;
    margin-top: 25px;
}

.project-date {
    color: #eeeeee;
}

.note {
    background-color: #100020;
    margin: 0.5em;
    padding: 0.5em;
    outline-style: solid;
    outline-color: #6600be;
    outline-width: 1px;
}

.quote {
    background-color: #102000;
    margin: 0.5em;
    padding: 0.5em;
    outline-style: solid;
    outline-color: #66be00;
    outline-width: 1px;
}

