:root {
    --color-bg: #111111;
    --color-sbg: #000000;
    --color-t: #d0d0d0;
}

body {
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.3;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color-bg);
    color: var(--color-t);
    font-size: clamp(12px, 2vw, 20px);
}

.content-container {
    background-color: var(--color-sbg);
    padding: 40px;
    text-align: left;
    box-sizing: border-box;
    max-width: 1024px; 
    width: 100%;
    min-height: 100vh;
    margin: 40px;
}

.title-text {
    text-align: left;
}

a {
  text-decoration: none;
  color: #11aaaa; 
}

