:root {
    --color-bg: #0f0f1a;
    --color-sbg: #0e0d0d;
    --color-st: #a0a0a0;
    --color-t: #c0c0c0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: vertical;
    background: var(--color-bg);
    color: var(--color-t);
}

.content-container {
    background-color: var(--color-sbg);
    padding: 60px;
    text-align: left;
    box-sizing: border-box;
    max-width: 900px; 
    width: 100%;
    min-height: 100vh;
    margin: 40px;
}

.title-text {
    text-align: center;
}

.avatar-img {
    max-width: 64px;
    height: 64px;
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
}

a {
  text-decoration: none;
  color: #22cccc; 
}

h4 {
    margin-bottom: 5px;
    margin-top: 25px;
}

.project-date {
    color: #eeeeee;
}

.note {
    background-color: #100020;
    margin: 5px;
    padding: 10px;
    outline-style: solid;
    outline-color: #6600be;
    outline-width: 1px;
}

.quote {
    background-color: #102000;
    margin: 5px;
    padding: 10px;
    outline-style: solid;
    outline-color: #66be00;
    outline-width: 1px;
}
